@import 'node_modules/bootstrap/scss/bootstrap';
$text: #bdbdbd;
$border: #363636;
$section-background: #222;

body {
  background-color: black;
  color: $text;
  h2 {
    font-size: 1rem;
  }
  main {
    padding: 5px;
    height: calc(100vh - 112px);
    & > div {
      height: 100%;
      padding: 0px !important;
    }
    #global-cases {
      height: calc(15% - 15px);
    }
    #cases-by-country {
      height: calc(85%);
    }
    #map {
      height: calc(100% - 7px);
    }
    #custom-data {
      height: calc(60% - 15px);
    }
    #graph {
      height: calc(40%);
    }
    section {
      margin: 0.5rem 0;
      border: 1px solid $border;
      background-color: $section-background;
    }
  }
  footer {
    height: 56px;
    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: $section-background;
      align-items: center;
      padding: 5px 12px;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 16px;
        color: $text;
      }
      p {
        color: $text;
        margin-bottom: 0px;
      }
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    main {
      height: unset;
      & > div {
        display: flex !important;
        section {
          flex: unset !important;
          box-sizing: border-box;
          height: 100% !important;
          margin: 0px;
          &:nth-of-type(2n - 1) {
            margin-right: 0.5rem;
          }
        }
        #map {
          margin-right: 0;
        }
      }
      & > div:nth-of-type(1) {
        height: 500px;
      }
      & > div:nth-of-type(2) {
        height: 800px;
      }
      & > div:nth-of-type(3) {
        height: 500px;
      }
    }
  }
}

@media (max-width: 575px) {
  body {
    main {
      height: unset;
      & > div {
        flex-wrap: wrap;
        section {
          margin-right: 0px !important;
          &:nth-of-type(2n) {
            margin-top: 0.5rem;
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 100%;
      }
      & > div:nth-of-type(2) {
        height: 100%;
      }
      & > div:nth-of-type(3) {
        height: 100%;
      }
    }
  }
}
