@import '~normalize.css';
@import 'node_modules/bootstrap/scss/bootstrap';

$text: #bdbdbd;
$border: #363636;
$section-background: #222;
$mainHeigth: calc(100vh - 112px);

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

button,
button:active,
button:focus,
select,
select:active,
select:focus {
  outline: none;
  border: none;
}

body {
  background-color: black;
  color: $text;
  h2 {
    font-size: 1rem;
  }
  main {
    padding: 5px;
    height: $mainHeigth;
    & > div {
      position: relative;
      height: 100%;
      padding: 0px !important;
      border: 2px solid gray;
    }
    #global-cases {
      height: calc(15% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        h3 {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          span {
            color: rgb(255, 0, 0);
          }
        }
      }
    }
    #cases-by-country {
      padding: 5px 0;
      height: calc(85%);
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1rem;
      }
      ul {
        height: 100%;
        overflow-y: scroll;
        padding-left: 0px;
        li {
          border-bottom: 1px solid darkgray;
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          padding: 0 3px;
          .country-name {
            overflow-wrap: break-word;
            margin: 0 5px;
            max-width: 100px;
            color: #ffffffd0;
            font-weight: 700;
          }
          .country-data {
            font-weight: 700;
            text-align: end;
            width: 60px;
            color: red;
            margin-left: 5px;
          }
        }
      }
    }
    #map {
      height: calc(90% - 7px);
    }
    #date-info {
      height: calc(10% - 7px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #date-last-update {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
      }
    }
    #custom-data {
      height: calc(60% - 15px);
    }
    #graph {
      height: calc(40%);
      select,
      option {
        text-transform: capitalize;
      }
    }
    section {
      margin: 0.5rem 0;
      border: 1px solid $border;
      background-color: $section-background;
      &.fullScreen {
        position: fixed !important;
        bottom: 56px;
        left: 0 !important;
        height: $mainHeigth !important;
        z-index: 100;
        margin: 0;
        border: none;
        font-size: 2rem !important;
        button {
          font-size: 1.5rem;
        }
        #img {
          fill: antiquewhite;
        }
        h3 {
          font-size: 5rem !important;
        }
        h2 {
          font-size: 3rem !important;
        }
        span {
          font-size: 3rem !important;
        }
      }
      button {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        height: 1.5rem;
        width: 1.5rem;
        background: transparent;
        border: none !important;
        font-size: 0;
      }
      #img {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        fill: #bdbdbd;
      }
    }
  }
  footer {
    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: $section-background;
      align-items: center;
      padding: 5px 12px;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 16px;
        color: $text;
      }
      p {
        color: $text;
        margin-bottom: 0px;
      }
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    main {
      height: unset;
      & > div {
        display: flex;
        section {
          box-sizing: border-box;
          height: 100% !important;
          margin: 0px;
          &:nth-of-type(2n - 1) {
            margin-right: 0.5rem;
          }
        }
        #map {
          margin-right: 0;
        }
      }
      & > div:nth-of-type(1) {
        height: 500px;
      }
      & > div:nth-of-type(2) {
        height: 800px;
      }
      & > div:nth-of-type(3) {
        height: 500px;
      }
    }
  }
}

@media (max-width: 575px) {
  body {
    main {
      height: unset;
      & > div {
        flex-wrap: wrap;
        section {
          margin-right: 0px !important;
          &:nth-of-type(2n) {
            margin-top: 0.5rem;
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 100%;
      }
      & > div:nth-of-type(2) {
        height: 100%;
      }
      & > div:nth-of-type(3) {
        height: 100%;
      }
    }
  }
}
