$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1024px,
  xxl: 1900px,
);

@import '~normalize.css';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-dialog {
  color: #303030;
}
select,
option {
  text-transform: capitalize;
}
select option {
  margin: 40px;
  background: rgb(34 34 34);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 4rem;
  max-height: 4rem;
  min-width: 1rem;
  min-height: 1rem;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100%;
  text-shadow: 0 0px 9px black;
  &.confirmed {
    background-color: rgba(126, 119, 26, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(129, 123, 35);
    }
  }
  &.recovered {
    background-color: rgb(21, 156, 21, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(21, 156, 21);
    }
  }
  &.deaths {
    background-color: rgb(255, 0, 0, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(255, 0, 0);
    }
  }
  &:hover,
  &.active {
    .icon-marker-tooltip {
      display: block;
      animation: opacity 0.5s;
    }
  }
}

.icon-marker-tooltip {
  animation: opacity 0.5s;
  transition: 0.5s;
  display: none;
  position: absolute;
  bottom: 100%;
  width: 17em;
  font-size: 1rem;
  padding: 1em;
  margin-bottom: 1em;

  &:before {
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: blue;
    transform: rotate(45deg);
    margin-left: -0.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: 0.1em 0;
    font-weight: normal;
    color: blue;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.6em 0 0;
  }
}

#choose-world {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: white;
    transition: 0.3s;
  }
}

$text: #bdbdbd;
$border: #363636;
$section-background: #222;
$mainHeigth: calc(100vh - 112px);

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

button,
button:active,
button:focus,
select,
select:active,
select:focus {
  outline: none;
  border: none;
}

body {
  background-color: black;
  color: $text;
  datalist {
    box-sizing: inherit;
    width: 100px !important;
    height: 100px !important;
  }
  nav {
    .collapse {
      justify-content: flex-end;
    }
  }
  h2 {
    font-size: 1rem;
  }
  main {
    padding: 5px;
    height: $mainHeigth;
    & > div {
      position: relative;
      height: 100%;
      padding: 0px !important;
    }
    #global-cases {
      height: calc(15% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        h3 {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          margin-bottom: 0rem;
          padding: 1rem 0px;
          span {
            color: rgb(255, 0, 0);
          }
        }
      }
    }
    #cases-by-country {
      padding: 5px 5px;
      height: calc(85%);
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1rem;
      }
      ul {
        height: 100%;
        overflow-y: scroll;
        padding-left: 5px;
        padding-top: 10px;
        background-color: #131010;
        li {
          border-bottom: 1px solid darkgray;
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          padding: 0 3px;
          cursor: pointer;
          .country-name {
            overflow-wrap: break-word;
            margin: 0 5px;
            width: 100%;
            color: #ffffffd0;
            font-weight: 700;
          }
          .country-data {
            font-weight: 700;
            text-align: center;
            width: 100%;
            color: red;
            margin-left: 5px;
          }
          &#active {
            background-color: rgba(2, 2, 122, 0.473);
          }
        }
      }
      .navigation-in-cases {
        border-bottom: 1px solid darkgray;
        padding-bottom: 5px;
      }
      .selectDataWrapper,
      .selectCaseWrapper,
      .sortSelectWrapper,
      .searchInputWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 5px 10px 5px 0px;
        }
        select,
        input {
          display: block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          background-color: $section-background;
          background-clip: padding-box;
          border: 1px solid #5d5d5d;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        @media (max-width: 1445px) and (min-width: 1023px) {
          flex-direction: column;
        }
      }
      .selectDataWrapper {
        .checkbox {
          display: inline-block;
          position: relative;
          text-align: left;
          height: 30px;
          background-color: #222;
          -webkit-box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
          -moz-box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          border-radius: 6px;
        }

        .checkbox input {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0 0;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
          z-index: 2;
        }

        .checkbox label {
          background-color: #3c3c3c;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          text-align: center;
          width: 130px;
          height: 100%;
          color: white;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
          -webkit-transition: margin-left 0.2s ease-in-out;
          -moz-transition: margin-left 0.2s ease-in-out;
          -ms-transition: margin-left 0.2s ease-in-out;
          -o-transition: margin-left 0.2s ease-in-out;
          transition: margin-left 0.2s ease-in-out;
          margin: 1px;
        }

        .checkbox label:before {
          content: attr(data-off);
        }

        .checkbox input:checked + label {
          color: white;
        }

        .checkbox input:checked + label:before {
          content: attr(data-on);
        }
      }
      &.fullScreen {
        li {
          justify-content: space-around;
          img {
            width: 4%;
          }
          div {
            width: 50%;
          }
        }
      }
    }
    #map {
      height: calc(90% - 7px);
      .map-selectors {
        padding: 12px 0px;
        display: flex;
        @media (max-width: 1210px) and (min-width: 1023px) {
          padding: 0px 0px 5px 0px;
        }
        .selector-wrapper {
          width: 100%;
          display: flex;
          padding: 0.375rem 0.75rem;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-size: 0.8rem;
          }
        }
        .form-control {
          margin: 0px !important;
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          background-color: #fff0;
          background-clip: padding-box;
          border: 1px solid #5d5d5d;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
      #map-layer {
        width: 100%;
        height: calc(87% - 94px);
      }
      .legend-container {
        height: calc(13% - 5px);
        padding: 10px;
        display: flex;
        align-items: center;
        @media (max-width: 1210px) and (min-width: 1023px) {
          padding: 10px 0px 0px;
        }
        .colors {
          width: 20%;
          min-width: 135px;
          padding-right: 20px;
          @media (max-width: 1210px) and (min-width: 1023px) {
            min-width: 120px;
            padding-right: 5px;
          }
          .color-variant {
            display: flex;
            align-items: center;
            color: white;
            font-size: 0.8rem;
            span {
              margin-right: 5px;
            }
          }
        }
        .sizes {
          width: 75%;
          display: flex;
          justify-content: space-around;
          .size-variant {
            display: flex;
            align-items: center;
            color: white;
            font-size: 1rem;
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
    #date-info {
      height: calc(10% - 7px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #date-last-update {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
      }
    }
    #custom-data {
      height: calc(60% - 15px);
    }
    .list-span-1 {
      color: red;
    }
    .globalDataContainer {
      font-size: 1.5rem;
    }
    #graph {
      height: calc(40%);
      .chart-title {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        span {
          color: red;
        }
      }
      .selection-wrapper {
        display: flex;
        .selector-wrapper {
          width: 100%;
          padding: 0.375rem 0.75rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          h3 {
            font-size: 0.8rem;
          }
          select {
            margin: 0px !important;
          }
        }
        .form-control {
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.1rem 0.15rem;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          background-color: #fff0;
          background-clip: padding-box;
          border: 1px solid #5d5d5d;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
      .chart-container {
        margin-top: 1rem;
        height: calc(100% - 170px);
        div {
          height: 100%;
        }
      }
    }
    section {
      margin: 0.5rem 0;
      border: 1px solid $border;
      background-color: $section-background;
      &.fullScreen {
        position: fixed !important;
        bottom: 56px;
        left: 0 !important;
        height: $mainHeigth !important;
        z-index: 100;
        margin: 0;
        border: none;
        font-size: 1.5rem !important;
        button {
          top: 0.5rem;
          right: 0.5rem;
          #img {
            left: unset;
          }
        }

        // h3 {
        //   font-size: 5rem !important;
        // }
        // h2 {
        //   font-size: 3rem !important;
        // }
        // span {
        //   font-size: 3rem !important;
        // }
      }
      button {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        background: transparent;
        border: none !important;
        font-size: 0;
        top: 0;
        right: 0rem;
        padding: 0px;
      }
      #img {
        z-index: 1000;
        padding: 0;
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        fill: #bdbdbd;
      }
    }
  }
  footer {
    height: 56px;
    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: $section-background;
      align-items: center;
      padding: 5px 12px;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 16px;
        color: $text;
      }
      p {
        color: $text;
        margin-bottom: 0px;
      }
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1023px) {
  body {
    header {
      top: 0px;
      z-index: 10000;
    }
    main {
      section.fullScreen {
        margin: 0px !important;
        height: calc(100vh - 56px) !important;
        max-height: unset !important;
        top: 56px;
        width: 100vw !important;
        max-width: unset;
      }
      .central-column {
        display: flex;
        flex-direction: column;
        #map {
          max-height: 666px;
          #map-layer {
            height: calc(86% - 94px);
          }
        }
        #date-info {
          max-height: 100px;
          margin-top: 0.5rem;
        }
      }
      #cases-by-country {
        flex: unset;
      }
      #graph {
        width: calc(33.3333333333% - 0.5rem);
        flex: unset;
        .chart-container {
          margin-top: 0.5rem;
          height: calc(100% - 290px);
        }
      }
      .selection-wrapper {
        flex-wrap: wrap;
        .form-control {
          margin-top: 7px;
          padding: 0;
          font-size: 0.8rem;
        }
      }
      height: unset;
      & > div {
        display: flex;
        section {
          box-sizing: border-box;
          height: 100% !important;
          margin: 0px;
          &:nth-of-type(2n - 1) {
            margin-right: 0.5rem;
          }
        }
        #map {
          margin-right: 0;
          .map-selectors {
            .form-control {
              margin-top: 7px;
              padding: 0;
              font-size: 0.8rem;
            }
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 500px;
      }
      & > div:nth-of-type(2) {
        height: 800px;
      }
      & > div:nth-of-type(3) {
        height: 500px;
      }
    }
  }
}

@media (max-width: 575px) {
  body {
    main {
      height: unset;
      #map {
        height: 620px !important;
        #map-layer {
          height: calc(76% - 94px) !important;
        }
        .legend-container {
          flex-wrap: wrap;
          padding: 5px 0px;
          .colors {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .color-variant {
              padding-right: 5px;
            }
          }
          .sizes {
            padding-top: 7px;
            flex-wrap: wrap;
            width: 100%;
            .size-variant {
              padding-right: 5px;
            }
          }
        }
      }
      #graph {
        width: 100%;
        .chart-container {
          height: 300px;
          padding-bottom: 1rem;
        }
      }
      #cases-by-country {
        max-height: 425px;
      }
      #date-info {
        h2 {
          padding-top: 1rem;
        }
        span {
          padding-bottom: 1rem;
        }
      }
      & > div {
        flex-wrap: wrap;
        section {
          margin-right: 0px !important;
          &:nth-of-type(2n) {
            margin-top: 0.5rem;
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 100%;
      }
      & > div:nth-of-type(2) {
        height: 100%;
      }
      & > div:nth-of-type(3) {
        height: 100%;
      }
    }
  }
}

@media (max-width: 440px) {
  body {
    main {
      #map {
        max-height: unset !important;
        height: 760px !important;
        #map-layer {
          height: calc(57% - 94px) !important;
        }
        .map-selectors {
          flex-wrap: wrap;
        }
      }
    }
  }
}
#custom-data {
  .selection-wrapper {
    display: flex;
    .list-span-1 {
      color: red;
    }
    .selector-wrapper {
      width: 100%;
      padding: 0.375rem 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h3 {
        font-size: 0.8rem;
      }
      select {
        margin: 0px !important;
      }
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.1rem 0.15rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      background-color: #fff0;
      background-clip: padding-box;
      border: 1px solid #5d5d5d;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}

.use-keyboard-input:focus {
  outline: none;
}

.keyboard {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  min-width: 24px;
  margin: 4px 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px black;
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  transition: 0.3s;
}

.keyboard__key:hover {
  background: rgba(255, 255, 255, 0.5);
}

.keyboard__key--wide {
  width: 12%;
  min-width: 60px;
}
.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
  min-width: 180px;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 1px black;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}
.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

@keyframes press {
  0% {
    border-radius: 4px;
  }
  100% {
    border-radius: 15px;
  }
}

@media screen and (max-width: 944px) {
  .keyboard__key {
    width: 5%;
  }
  .keyboard__key--wide {
    width: 8%;
  }
}
@media screen and (max-width: 525px) {
  .keyboard__key {
    width: 4%;
  }
  .keyboard__key--wide {
    width: 6%;
  }
}
