@import '~normalize.css';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'leaflet/dist/leaflet.css';

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 4rem;
  max-height: 4rem;
  min-width: 1rem;
  min-height: 1rem;
  font-size: 14px;
  font-weight: bold;
  border-radius: 100%;
  text-shadow: 0 0px 9px black;
  &.confirmed {
    background-color: rgba(126, 119, 26, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(129, 123, 35);
    }
  }
  &.recovered {
    background-color: rgb(21, 156, 21, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(21, 156, 21);
    }
  }
  &.deaths {
    background-color: rgb(255, 0, 0, 0.466);
    .icon-marker-tooltip,
    .icon-marker-tooltip:before {
      background-color: rgb(255, 0, 0);
    }
  }
  &:hover {
    .icon-marker-tooltip {
      display: block;
      animation: opacity 0.5s;
    }
  }
}

.icon-marker-tooltip {
  animation: opacity 0.5s;
  transition: 0.5s;
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4rem;
  padding: 1em;
  margin-bottom: 1em;

  &:before {
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: blue;
    transform: rotate(45deg);
    margin-left: -0.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: 0.1em 0;
    font-weight: normal;
    color: blue;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.6em 0 0;
  }
}

$text: #bdbdbd;
$border: #363636;
$section-background: #222;
$mainHeigth: calc(100vh - 112px);

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

button,
button:active,
button:focus,
select,
select:active,
select:focus {
  outline: none;
  border: none;
}

body {
  background-color: black;
  color: $text;
  h2 {
    font-size: 1rem;
  }
  main {
    padding: 5px;
    height: $mainHeigth;
    & > div {
      position: relative;
      height: 100%;
      padding: 0px !important;
    }
    #global-cases {
      height: calc(15% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        h3 {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          margin-bottom: 0rem;
          padding: 1rem 0px;
          span {
            color: rgb(255, 0, 0);
          }
        }
      }
    }
    #cases-by-country {
      padding: 5px 0;
      height: calc(85%);
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1rem;
      }
      ul {
        height: 100%;
        overflow-y: scroll;
        padding-left: 0px;
        li {
          border-bottom: 1px solid darkgray;
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          padding: 0 3px;
          cursor: pointer;
          .country-name {
            overflow-wrap: break-word;
            margin: 0 5px;
            max-width: 100px;
            color: #ffffffd0;
            font-weight: 700;
          }
          .country-data {
            font-weight: 700;
            text-align: end;
            width: 60px;
            color: red;
            margin-left: 5px;
          }
          &#active {
            background-color: rgba(2, 2, 122, 0.473);
          }
        }
      }
    }
    #map {
      height: calc(90% - 7px);
      #map-layer {
        width: 100%;
        height: 100%;
      }
    }
    #date-info {
      height: calc(10% - 7px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #date-last-update {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
      }
    }
    #custom-data {
      height: calc(60% - 15px);
    }
    #graph {
      height: calc(40%);
      .chart-title {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        span {
          color: red;
        }
      }
      .selection-wrapper {
        display: flex;
        .form-control {
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          background-color: #fff0;
          background-clip: padding-box;
          border: 1px solid #5d5d5d;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }
      .chart-container {
        margin-top: 1rem;
        height: calc(100% - 120px);
        div {
          height: 100%;
        }
      }
      select,
      option {
        text-transform: capitalize;
      }
      select option {
        margin: 40px;
        background: rgb(34 34 34);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        transition: 0.5s;
      }
    }
    section {
      margin: 0.5rem 0;
      border: 1px solid $border;
      background-color: $section-background;
      &.fullScreen {
        position: fixed !important;
        bottom: 56px;
        left: 0 !important;
        height: $mainHeigth !important;
        z-index: 100;
        margin: 0;
        border: none;
        font-size: 1.5rem !important;
        button {
          top: 0.5rem;
          right: 0.5rem;
          #img {
            left: unset;
          }
        }

        // h3 {
        //   font-size: 5rem !important;
        // }
        // h2 {
        //   font-size: 3rem !important;
        // }
        // span {
        //   font-size: 3rem !important;
        // }
      }
      button {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        background: transparent;
        border: none !important;
        font-size: 0;
        top: 0;
        right: 0rem;
        padding: 0px;
      }
      #img {
        z-index: 1000;
        padding: 0;
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        fill: #bdbdbd;
      }
    }
  }
  footer {
    height: 56px;
    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: $section-background;
      align-items: center;
      padding: 5px 12px;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 16px;
        color: $text;
      }
      p {
        color: $text;
        margin-bottom: 0px;
      }
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    header {
      position: sticky;
      top: 0px;
      z-index: 100;
    }
    main {
      section.fullScreen {
        margin: 0px !important;
        height: calc(100vh - 56px) !important;
        max-height: unset !important;
        top: 56px;
        width: 100vw !important;
        max-width: unset;
      }
      .central-column {
        display: flex;
        flex-direction: column;
        #map {
          max-height: 683px;
        }
        #date-info {
          max-height: 100px;
          margin-top: 0.5rem;
        }
      }
      #cases-by-country {
        flex: unset;
      }
      #graph {
        width: calc(33.3333333333% - 0.5rem);
        flex: unset;
        .chart-container {
          height: calc(100% - 210px);
        }
      }
      .selection-wrapper {
        flex-wrap: wrap;
        .form-control {
          margin-top: 7px;
          padding: 0;
          font-size: 0.8rem;
        }
      }
      height: unset;
      & > div {
        display: flex;
        section {
          box-sizing: border-box;
          height: 100% !important;
          margin: 0px;
          &:nth-of-type(2n - 1) {
            margin-right: 0.5rem;
          }
        }
        #map {
          margin-right: 0;
        }
      }
      & > div:nth-of-type(1) {
        height: 500px;
      }
      & > div:nth-of-type(2) {
        height: 800px;
      }
      & > div:nth-of-type(3) {
        height: 500px;
      }
    }
  }
}

@media (max-width: 575px) {
  body {
    main {
      height: unset;
      #graph {
        width: 100%;
        .chart-container {
          height: 300px;
          padding-bottom: 1rem;
        }
      }
      #cases-by-country {
        max-height: 425px;
      }
      #date-info {
        h2 {
          padding-top: 1rem;
        }
        span {
          padding-bottom: 1rem;
        }
      }
      & > div {
        flex-wrap: wrap;
        section {
          margin-right: 0px !important;
          &:nth-of-type(2n) {
            margin-top: 0.5rem;
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 100%;
      }
      & > div:nth-of-type(2) {
        height: 100%;
      }
      & > div:nth-of-type(3) {
        height: 100%;
      }
    }
  }
}
#custom-data {
  display: flex;
  .hideElement {
    display: none !important;
  }
  .greenElement {
    display: block;
    color: green;
    border-color: green;
  }
  .redElement {
    display: block;
    color: red;
    border-color: red;
  }
  .globalDataContainer {
    padding: 5px 0;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    width: calc(53%);
  }
  .deadListWrapper,
  .recoveredListWrapper,
  .localDataContainer {
    padding: 5px 0;
    height: calc(80%);
    display: flex;
    flex-direction: column;
    ul {
      height: 100%;
      overflow-y: scroll;
      padding-left: 0px;
      li {
        border-bottom: 1px solid darkgray;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0 3px;
        .country-name {
          overflow-wrap: break-word;
          margin: 0 5px;
          max-width: 100px;
          color: #ffffffd0;
          font-weight: 700;
        }
        .country-data {
          font-weight: 700;
          color: #ffffffd0;
        }
      }
    }
  }
}
