@import '~normalize.css';
@import 'node_modules/bootstrap/scss/bootstrap';

$text: #bdbdbd;
$border: #363636;
$section-background: #222;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: $text;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

body {
  background-color: black;
  color: $text;
  h2 {
    font-size: 1rem;
  }
  main {
    padding: 5px;
    height: calc(100vh - 112px);
    & > div {
      height: 100%;
      padding: 0px !important;
    }
    #global-cases {
      height: calc(15% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        h3 {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          span {
            color: red;
          }
        }
      }
    }
    #cases-by-country {
      height: calc(85%);
      h3 {
        font-size: 1rem;
      }
      ul {
        height: calc(100% - 120px);
        overflow-y: scroll;
        padding-left: 10px;
        li {
          list-style: none;
          .country-data {
            color: red;
          }
        }
      }
    }
    #map {
      height: calc(90% - 7px);
    }
    #date-info {
      height: calc(10% - 7px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #date-last-update {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
      }
    }
    #custom-data {
      height: calc(60% - 15px);
    }
    #graph {
      height: calc(40%);
    }
    section {
      margin: 0.5rem 0;
      border: 1px solid $border;
      background-color: $section-background;
      & .fullScreen {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        height: 100vh;
        width: 100vw;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  footer {
    height: 56px;
    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: $section-background;
      align-items: center;
      padding: 5px 12px;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 16px;
        color: $text;
      }
      p {
        color: $text;
        margin-bottom: 0px;
      }
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    main {
      height: unset;
      & > div {
        display: flex !important;
        section {
          flex: unset !important;
          box-sizing: border-box;
          height: 100% !important;
          margin: 0px;
          &:nth-of-type(2n - 1) {
            margin-right: 0.5rem;
          }
        }
        #map {
          margin-right: 0;
        }
      }
      & > div:nth-of-type(1) {
        height: 500px;
      }
      & > div:nth-of-type(2) {
        height: 800px;
      }
      & > div:nth-of-type(3) {
        height: 500px;
      }
    }
  }
}

@media (max-width: 575px) {
  body {
    main {
      height: unset;
      & > div {
        flex-wrap: wrap;
        section {
          margin-right: 0px !important;
          &:nth-of-type(2n) {
            margin-top: 0.5rem;
          }
        }
      }
      & > div:nth-of-type(1) {
        height: 100%;
      }
      & > div:nth-of-type(2) {
        height: 100%;
      }
      & > div:nth-of-type(3) {
        height: 100%;
      }
    }
  }
}
